<nav>
  <a class="title" href="/<%= PROXY_URL %>/"">Chat Box</a>
  <% if (user){ %>
    <a class="links" href="/<%= PROXY_URL %>/room/hub/">Hub</a>
    <a class="links" href="/<%= PROXY_URL %>/signout/">Sign Out</a>
  <% } else { %>
    <a class="links" href="/<%= PROXY_URL %>/signin">Sign In</a>
    <a class="links" href="/<%= PROXY_URL %>/signup">Sign Up</a>
  <% } %>
</nav>