<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <title>Chat Box - <%- room.name %></title>
    <style>
      ul,
      ul li {
        transform: scaleY(-1);
      }

      form {
        position: fixed;
        bottom: 0;
        margin-bottom: 10px;
        width: 100%;
      }

      .textInput {
        background-color: #40444b;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        width: calc(100% - 20px);
        height: 40px;
        color: rgb(223, 223, 223);
        padding-left: 10px;
        margin-left: 10px;
      }

      #chat {
        background-color: #36393f;
        display: table-cell;
        vertical-align: bottom;
        height: calc(100vh - 118px);
        width: 100vw;
        border-radius: 5px 5px 0 0;
      }

      #messages {
        overflow-y: auto;
        max-height: calc(100vh - 118px);
        word-wrap: break-word;
      }

      .message {
        padding-top: 5px;
      }

      .message p {
        margin-left: 60px;
        margin-top: -45px;
      }

      .message .messagetext {
        color: rgb(196, 196, 196);
        margin-top: 5px;
      }

      .message .displayname {
        margin-bottom: 0;
      }

      .message .usericon {
        width: 40px;
        user-select: none;
        height: 40px;
        border-radius: 40px;
        margin-left: 10px;
      }

      #messageLoadingIcon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
      }

      .loadingIcon {
        visibility: visible;
      }
    </style>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div id="chat">
      <div id="messages">
        <img src="<%= PROXY_URL %>/assets/images/loading.svg" class="loadingIcon" id="messageLoadingIcon" />
        <div style="display: none;"></div>
      </div>
      <form action="javascript:void(0);" method="post" onsubmit="sendMessage();">
        <input class="textInput" id="message" name="message" type="text" placeholder="Send a message" />
      </form>
    </div>

    <script>
      const loadingIcon = document.getElementById("messageLoadingIcon");
      const socket = io("", { query: "roomid=<%= room._id %>", path: "<%= PROXY_URL %>/socket.io" });
      let gettingMessage = false;

      const messagesHolder = document.getElementById("messages");
      const messageInput = document.getElementById("message");

      function sendMessage() {
        const messageText = messageInput.value;
        if (/\S/.test(messageText) && messageText.length >= 1 && messageText.length <= 500) {
          socket.emit("SendMessage", messageText);
          messageInput.value = "";
        }
      }

      // socket.on("disconnect", () => (location.href = "/"));

      socket.on("RecieveMessage", (messageData) => {
        const shouldScrollToBottom = messagesHolder.scrollHeight - messagesHolder.clientHeight - messagesHolder.scrollTop < 10;
        messagesHolder.appendChild(createMessageElement(messageData));
        if (shouldScrollToBottom) {
          messagesHolder.scrollTop = messagesHolder.scrollHeight;
        }
      });

      messagesHolder.addEventListener("scroll", () => {
        if (messagesHolder.scrollTop < 10) {
          getMore();
        }
      });

      function getMore() {
        if (!gettingMessage) {
          const oldScroll = messagesHolder.scrollHeight - messagesHolder.clientHeight;
          gettingMessage = true; // so no duplicate messages

          socket.emit("GetMore", oldestMessageIndex.toString(), (messages) => {
            // insert messages before loading icon
            messages.reverse().forEach((message) => messagesHolder.insertBefore(createMessageElement(message), messagesHolder.children[1]));
            oldestMessageIndex -= messages.length;

            // calculate scroll
            const newScroll = messagesHolder.scrollHeight - messagesHolder.clientHeight;
            messagesHolder.scrollTop = newScroll - oldScroll;

            // if no more messages display start of chat text
            if (messages.length <= 14) {
              const statusText = document.createElement("p");
              statusText.classList.add("statusText");
              statusText.textContent = "You reached the beggining of the chat.";
              statusText.style.textAlign = "center";

              messagesHolder.removeChild(loadingIcon);
              messagesHolder.insertBefore(statusText, messagesHolder.children[0]);
              return;
            }

            gettingMessage = false;
          });
        }
      }

      function createMessageElement(messageData) {
        const { displayname, username, message, userid } = messageData;

        const messageDiv = document.createElement("div");
        messageDiv.classList.add("message");

        const img = document.createElement("img");
        img.classList.add("usericon");
        img.setAttribute("draggable", "false");
        img.setAttribute("src", `<%= PROXY_URL %>/assets/usercontent/${userid}/photo.png`);

        const messageText = document.createElement("p");
        messageText.classList.add("messagetext");
        messageText.innerHTML = message;

        const displayNameText = document.createElement("p");
        displayNameText.classList.add("displayname");
        displayNameText.setAttribute("title", "@" + username);
        displayNameText.innerHTML = displayname;

        messageDiv.appendChild(img);
        messageDiv.appendChild(displayNameText);
        messageDiv.appendChild(messageText);
        return messageDiv;
      }

      let oldestMessageIndex = parseInt("<%- messagesCount %>");

      // create the last 10 messages
      getMore();

      messagesHolder.scrollTop = messagesHolder.scrollHeight;
    </script>
  </body>
</html>
