<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>Settings - <%= user.username%></title>
  </head>
  <style>
    form {
      margin-top: 25px;
    }

    input {
      margin-top: 10px;
    }
  </style>
  <body>
    <%- include("../partials/nav") %>
    <div class="centeredContent">
      <h1 class="titleText">Settings</h1>

      <form action="javascript:void(0);" method="post" onsubmit="changeDisplayName();">
        <div>
          <label for="displayname">Display name: </label><br />
          <input name="displayname" type="text" placeholder="Your new display name" id="displayname" /><br />
        </div>

        <input type="submit" value="Change Display Name" />
        <img src="<%= PROXY_URL %>/assets/images/loading.svg" class="loadingIcon" id="usericonLoading" />
      </form>

      <form action="javascript:void(0);" method="post" onsubmit="changeIcon();">
        <div>
          <label for="usericon">Profile picture: </label><br />
          <input name="usericon" type="file" id="usericon" /><br />
        </div>

        <input type="submit" value="Change Icon" />
        <img src="<%= PROXY_URL %>/assets/images/loading.svg" class="loadingIcon" id="displaynameLoading" />
      </form>
    </div>

    <script src="<%= PROXY_URL %>/assets/js/basicFuncs.js"></script>
    <script>
      async function changeIcon() {
        const loadingIcon = document.getElementById("usericonLoading");
        loadingIcon.style.visibility = "visible";
        const formData = new FormData();
        const fileField = document.getElementById("usericon");

        formData.append("usericon", fileField.files[0]);

        const response = await fetch("<%= PROXY_URL %>/usericon/", {
          method: "PUT",
          body: formData,
        });

        const result = await handleErrors(response);
        if (result) {
          alert("Sucess!");
          location.reload(false);
        }

        loadingIcon.style.visibility = "hidden";
      }

      async function changeDisplayName() {
        const loadingIcon = document.getElementById("displaynameLoading");
        const suceeded = await fetchAndHandle("<%= PROXY_URL %>/displayname/", ["displayname"], loadingIcon, null, "PUT");

        if (suceeded) {
          location.reload(false);
          alert("Sucess!");
        }
      }
    </script>
  </body>
</html>
