<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>Chat Box - Sign In</title>
    <link rel="stylesheet" href="<%= PROXY_URL %>/assets/css/bigform.css" />
  </head>
  <body>
    <%- include("../partials/nav") %>
    <div class="centeredContent">
      <h1 class="titleText" style="margin-bottom: 40px; font-size: 45px;" class="centeredContent">Sign into your account</h1>
      <form action="javascript:void(0);" method="post" onsubmit="signin();">
        <div>
          <label for="username">Username:</label><br />
          <input class="textInput" id="username" name="username" type="text" /><br />
        </div>

        <div>
          <label for="password">Password:</label><br />
          <input class="textInput" id="password" name="password" type="password" /><br />
        </div>

        <input class="submit" id="submit" type="submit" value="Login" />
        <img src="<%= PROXY_URL %>/assets/images/loading.svg" class="loadingIcon" id="formLoadingIcon" />
      </form>
    </div>

    <script src="<%= PROXY_URL %>/assets/js/basicFuncs.js"></script>
    <script>
      async function signin() {
        await fetchAndHandle("", ["username", "password"], "<%= PROXY_URL %>/room/hub");
      }
    </script>
  </body>
</html>
