<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>Chat Box - Sign Up</title>
  </head>
  <link rel="stylesheet" href="<%= PROXY_URL %>/assets/css/bigforms.css" />
  </style>
  <body>
    <%- include("../partials/nav") %>
    <div class="centeredContent">
      <h1 class="titleText" style="margin-bottom: 40px;">Create your account</h1>
      <form action="javascript:void(0);" method="post" onsubmit="signup();">
        <div>
          <label for="username">Display name:</label><br />
          <input class="textInput" id="displayname" name="displayname" type="text" /><br />
        </div>

        <div>
          <label for="username">Username:</label><br />
          <input class="textInput" id="username" name="username" type="text" /><br />
        </div>

        <div>
          <label for="password">Password:</label><br />
          <input class="textInput" id="password" name="password" type="password" /><br />
        </div>

        <div>
          <label for="confirmPassword">Confirm password:</label><br />
          <input class="textInput" id="confirmPassword" name="confirmPassword" type="password" /><br />
        </div>

        <input type="submit" value="Sign Up" />
        <img src="<%= PROXY_URL %>/assets/images/loading.svg" class="loadingIcon" id="formLoadingIcon" />
      </form>
    </div>

    <script src="<%= PROXY_URL %>/assets/js/basicFuncs.js"></script>
    <script>
      const loadingIcon = document.getElementById("formLoadingIcon");
      async function signup() {
        fetchAndHandle("", ["username", "password", "displayname", "confirmPassword"], loadingIcon, "<%= PROXY_URL %>/room/hub");
      }
    </script>
  </body>
</html>
