<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/assets/css/viewuser.css" />
    <title>Chat Box - <%= viewuser.displayname %></title>
  </head>
  <body>
    <%- include("../partials/nav") %>
    <p class="displayname"><%= viewuser.displayname %></p>
    <p class="username">@<%= viewuser.username %></p>
    <button>Send friend request</button>
  </body>
</html>
